<!DOCTYPE html>
<html lang="tr" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>ETÜ Dijital Dönüşüm Ofisi Yönetim Paneli</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" /> <!-- Normalize.css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" /> <!-- Bootstrap -->
    <link href="/Content/css/theme-default.css" rel="stylesheet" /> <!-- Your custom styles -->
    <style>
        .body-full-height {
            background-image: url('/images/wall_1.jpg');
            background-size: cover;
        }
    </style>
    <!-- EOF CSS INCLUDE -->
</head>
<body>

    <div class="login-container lightmode" id="girisCtrl">

        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <div class="login-title"><h6>Hoşgeldiniz, Giriş Yapınız </h6></div>


                <div class="form-horizontal form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" v-model="giris.Email" name="Email" placeholder="Email Adresi" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" v-model="giris.Parola" name="Parola" placeholder="Parola" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a v-on:click="oturumuKapat()" class="btn btn-link btn-block">Oturumu Kapat</a>
                    </div>
                    <div class="col-md-6">
                        <button v-on:click="girisSorgula()" class="btn btn-info bAtn-block">GİRİŞ</button>


                    </div>
                </div>

                <div class="login-subtitle" id="divSonuc">

                </div>

            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; Copyright 2010 ETÜ Dijital Dönüşüm Ofisi Yönetim Paneli
                </div>

            </div>
        </div>

    </div>
    <!-- Vue.js ve Axios Kütüphaneleri -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- Axios -->
    <script>
        var girisCtrl= new Vue({
            el: "#girisCtrl",
            data: {
                giris: {
                    Email: '',
                    Parola: ''
                }
            },
            methods: {
                girisSorgula: function () {
                    alert("girisSorgula fonksiyonu çağrıldı");
                    var vm = this;
                    // Gerçek URL'yi belirtin
                    
                    // Girilen e-posta ve şifreyi kullanarak gerçek bir giriş isteği gönderin
                    axios.post("/GirisController/GirisSorgula", vm.giris)

                        .then( response => {
                            // Giriş başarılı ise
                            if (response.data.Result) {
                                alert("Giriş başarılı");
                                // Başarılı giriş olduğunda anasayfaya yönlendirme
                                window.location.href = response.data.url;
                            } else {
                                // Giriş başarısız ise
                                alert(response.data.Message);
                                document.getElementById("divSonuc").innerHTML = response.data.Message;
                            }
                        })
                        .catch( error=> {
                            // Hata durumunda
                            alert("Giriş başarısız", error);
                            console.log(error.Message);
                            document.getElementById("divSonuc").innerHTML = "Giriş başarısız";
                        });
                },
                oturumuKapat: function () {
                    // Oturumu kapatmak için gerçek bir istek gönderilebilir
                }
            }
        })
    </script>


</body>
</html>
