<br>
<br>
<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETÜ Dijital Dönüşüm Ofisi Yönetim Paneli</title>
    <!-- CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .body-full-height {
            background-image: url('/images/wall_1.jpg');
            background-size: cover;
        }
    </style>
</head>
<body class="body-full-height">

    <div id="girisCtrl" class="login-container lightmode">
        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <div class="login-title">
                    <h6>Hoşgeldiniz, Giriş Yapınız</h6>
                </div>
                <div class="form-horizontal form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" v-model="giris.Email" placeholder="Email Adresi">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" v-model="giris.Parola" placeholder="Parola">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a v-on:click="oturumuKapat" class="btn btn-link btn-block">Oturumu Kapat</a>
                    </div>
                    <div class="col-md-6">
                        <button v-on:click="girisSorgula" class="btn btn-info btn-block">GİRİŞ</button>
                    </div>
                </div>
                <div class="login-subtitle" id="divSonuc">
                    <p v-if="errorMessage" class="text-danger">{{ errorMessage }}</p>
                </div>
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; Copyright 2010 ETÜ Dijital Dönüşüm Ofisi Yönetim Paneli
                </div>
            </div>
        </div>
    </div>

    <!-- Vue.js ve Axios Kütüphaneleri -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var girisCtrl = new Vue({
            el: "#girisCtrl",
            data: {
                giris: {
                    Email: '',
                    Parola: ''
                },
                errorMessage: ''
            },
            methods: {
                girisSorgula: function () {
                    var vm = this;
                    axios.post("/AdminLogin/GirisSorgula", vm.giris)
                        .then(function (response) {
                            if (response.data.result) {
                                alert("Giriş başarılı");
                                window.location.href = response.data.url;
                            } else {
                                vm.errorMessage = response.data.message;
                            }
                        })
                        .catch(function (error) {
                            alert("Giriş başarısız: " + error.message);
                            console.error(error);
                            vm.errorMessage = "Giriş başarısız";
                        });
                },
                oturumuKapat: function () {
                    // Oturumu kapatmak için gerekli işlemler buraya yazılabilir
                }
            }
        });
    </script>
</body>
</html>
