@{
    Layout = null;
}
<!doctype html>
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="tr">
<!--<![endif]-->
<head>

    <!-- Head Partial -->
    <title>Yönetim Paneli Anasayfa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <!-- Tema JS&CSS -->
    <img src="~/Content/images/favicon.ico" />
    <link href="~/Content/Content/css/theme-default.css" rel="stylesheet" />

</head>

<body>
    <!-- BAŞLANGIÇ KONTEYNER -->
    <div class="page-container">
        <!-- BAŞLANGIÇ KENAR ÇUBUĞU -->
        <div class="page-sidebar">
            <!-- BAŞLANGIÇ X-NAVIGATION MENÜ -->
            <ul class="x-navigation">
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="~/Content/Content/~/Content/Content/Image/img/emrecnts.jpg" alt="ETÜ" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="~/Content/Content/Image/img/emrecnts.jpg" alt="ETÜ" />
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">Öğr. Gör. Emre ÇİNTAŞ</div>
                            <div class="profile-data-title">Yönetici</div>
                        </div>
                        <div class="profile-controls">
                            <a href="/Admin/KullaniciYonetimi/ProfilDuzenle" class="profile-control-left"><span class="fa fa-info"></span></a>
                            <a href="/Admin/MesajYonetimi/TumMesajListele" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                        </div>
                    </div>
                </li>
                <li class="active">
                    <a href="anasayfa.html"><span class="fa fa-desktop"></span> <span class="xn-text">Anasayfa</span></a>
                </li>

                <li>
                    <a href="genelayarlar.html"><span class="fa fa-flag"></span> <span class="xn-text">Genel Ayarlar</span></a>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-sitemap"></span> <span class="xn-text">Komisyon Üyeleri</span></a>
                    <ul>
                        <li><a href="/Admin/KadroYonetimi/KadroEkle"><span class="fa fa-flag"></span>Komisyon Üye Ekle</a></li>
                        <li><a href="/Admin/KadroYonetimi/KadroListele"><span class="fa fa-flag"></span>Komisyon Üye Listele</a></li>
                    </ul>
                </li>

                <li class="xn-openable">
                    <a href="#"><span class="fa fa-sitemap"></span> <span class="xn-text">Menü Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/IcerikYonetimi/UstMenuEkle"><span class="fa fa-flag"></span>Menü Ekle</a></li>
                        <li><a href="menulistele.html"><span class="fa fa-flag"></span>Menüleri Listele</a></li>
                    </ul>
                </li>


                <li class="xn-openable">
                    <a href="#"><span class="fa fa-folder"></span> <span class="xn-text">Dosya Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/FormYonetimi/FormEkle"><span class="fa fa-wrench"></span>Dosya Ekle</a></li>
                        <li><a href="/Admin/FormYonetimi/FormListele"><span class="fa fa-sort-alpha-asc"></span>Dosya Listele</a></li>
                    </ul>
                </li>

                <li class="xn-openable">
                    <a href="#"><span class="fa fa-pencil"></span> <span class="xn-text">İçerik Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/IcerikYonetimi/IcerikEkle"><span class="fa fa-wrench"></span>Yeni İçerik Ekle</a></li>
                        <li><a href="/Admin/IcerikYonetimi/IcerikListele"><span class="fa fa-sort-alpha-asc"></span>İçerikleri Listele</a></li>
                    </ul>
                </li>


                <li class="xn-openable">
                    <a href="#"><span class="fa fa-image"></span> <span class="xn-text">Slider Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/SliderYonetimi/SliderEkle"><span class="fa fa-camera"></span>Slider Ekle</a></li>
                        <li><a href="/Admin/SliderYonetimi/SliderListele"><span class="fa fa-list-ol"></span>Slider Listesi</a></li>
                    </ul>
                </li>


                <li class="xn-openable">
                    <a href="#"><span class="glyphicon glyphicon-header"></span> <span class="xn-text">Haber Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/HaberYonetimi/HaberEkle"><span class="glyphicon glyphicon-check"></span>Haber Ekle</a></li>
                        <li><a href="/Admin/HaberYonetimi/HaberListele"><span class="fa fa-list-ul"></span>Haber Listele</a></li>
                    </ul>
                </li>

                <li class="xn-openable">
                    <a href="#"><span class="fa fa-bullhorn"></span> <span class="xn-text">Duyuru Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/DuyuruYonetimi/DuyuruEkle"><span class="fa fa-microphone"></span>Duyuru Ekle</a></li>
                        <li><a href="/Admin/DuyuruYonetimi/DuyuruListele"><span class="glyphicon glyphicon-list-alt"></span>Duyuru Listele</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-thumbs-up"></span> <span class="xn-text">Görüş Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/GorusYonetimi/GorusListele"><span class="fa fa-list-ul"></span>Görüş Listele</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-image"></span> <span class="xn-text">Galeri Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/GaleriYonetimi/GaleriEkle"><span class="fa fa-camera"></span>Galeri Ekle</a></li>
                        <li><a href="/Admin/GaleriYonetimi/GaleriListele"><span class="fa fa-list-ol"></span>Galeri Listele</a></li>
                    </ul>
                </li>

                <li class="xn-openable">
                    <a href="#"><span class="fa fa-video-camera"></span> <span class="xn-text">Video Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/VideoYonetimi/VideoEkle"><span class="glyphicon glyphicon-film"></span>Video Ekle</a></li>
                        <li><a href="/Admin/VideoYonetimi/VideoListele"><span class="fa fa-list"></span>Video Listele</a></li>
                    </ul>
                </li>

                <li class="xn-openable">
                    <a href="#"><span class="fa fa-users"></span> <span class="xn-text">Kullanıcı Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/KullaniciYonetimi/KullaniciEkle"><span class="fa fa-user"></span>Kullanıcı Ekle</a></li>
                        <li><a href="/Admin/KullaniciYonetimi/KullaniciListele"><span class="fa fa-sort-alpha-desc"></span>Kullanıcı Listele</a></li>
                    </ul>
                </li>



                <li class="xn-openable">
                    <a href="#"><span class="fa fa-envelope"></span> <span class="xn-text">İletişim Formu Yönetimi</span></a>
                    <ul>
                        <li><a href="/Admin/MesajYonetimi/YeniMesajListele"><span class="fa fa-comment"></span>Yeni Mesaj Listesi</a></li>
                        <li><a href="/Admin/MesajYonetimi/TumMesajListele"><span class="fa fa-comments"></span>Tüm Mesajlar Listesi</a></li>
                    </ul>
                </li>

            </ul>
            <!-- BİTİŞ X-NAVIGATION MENÜ-->
        </div>
        <!-- BİTİŞ KENAR ÇUBUĞU -->
        <!-- SAYFA İÇERİĞİ -->
        <div class="page-content">

            <!-- X-NAVİGASYON MENÜ DİKEY BAŞLAT -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">

                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- TOGGLE NAVIGATION -->
                <!-- ARAMA -->
                <li class="xn-search">
                    <form role="form">
                        <input type="text" name="search" placeholder="Arama..." />
                    </form>
                </li>
                <!-- ARAMA -->
                <!-- ÇIKIŞ -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
                <!-- ÇIKIŞ -->
                <!-- MESAJ BAŞLANGIÇ -->
                <li class="xn-icon-button pull-right">
                    <a href="#"><span class="fa fa-comments"></span></a>
                    <div class="informer informer-danger">1</div>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-comments"></span> Mesajlar</h3>
                            <div class="pull-right">
                                <span class="label label-danger">Yeni 1</span>
                            </div>
                        </div>
                        <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">


                            <a href="/Admin/MesajYonetimi/MesajDetay/item.Id" class="list-group-item">
                                <div class="list-group-status status-online"></div>
                                <span class="fa fa-envelope"></span>
                                <span class="contacts-title">Emre Çintaş</span>
                                <p>Konu</p>
                            </a>




                        </div>
                        <div class="panel-footer text-center">
                            <a href="/Admin/MesajYonetimi/TumMesajListele">Tüm Mesajlar</a>
                        </div>
                    </div>
                </li>
                <!-- MESAJ BİTİŞ -->



                <li class="xn-icon-button pull-right">
                    <a href="~/Admin/Giris/ChangeLanguage?lang=tr-TR"><img src="~/Content/Content/Image/tr.png" alt="Türkçe" title="Türkçe" /></a>
                    <a href="~/Admin/Giris/ChangeLanguage?lang=en"><img src="~/Content/Content/Image/eng.png" alt="English" title="English" /></a>
                </li>


            </ul>
            <!-- X-NAVİGASYON MENÜ DİKEY BİTİR -->
            <!-- BREADCRUMB'U BAŞLAT -->
            <ul class="breadcrumb">
                <li>Panel</li>
                <li class="active"><a href="/Admin/Giris/AnaSayfa">Ana Sayfa</a></li>
            </ul>
            <!-- BREADCRUMB'U BİTİR -->
            <!-- RENDER -->
            <div class="page-content-wrap">
                <div class="row">
                    <div class="col-md-12">

                        @RenderBody()

                    </div>
                </div>
            </div>
            <!-- RENDER -->
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- SAYFA İÇERİĞİ -->
    </div>
    <!-- BİTİŞ KONTEYNER -->
    <!-- MESAJ KUTUSU-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Oturumu <strong>Kapat</strong> ?</div>
                <div class="mb-content">
                    <p>Oturumu Kapatmak İstediğinizden Eminmisiniz ?</p>
                    <p>Eğer Çalışmaya Devam Etmek İstiyorsanız Hayırı Tıklayın. Aksi Taktirde Eveti Tıklayınız..</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="/Admin/Giris/OturumuKapat" class="btn btn-success btn-lg">Evet</a>
                        <button class="btn btn-default btn-lg mb-control-close">Hayır</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MESAJ KUTUSU-->
    <!-- SES ÖN YÜKLEMELERİ BAŞLAT -->
    <audio id="audio-alert" src="~/Content/Content/Audio/alert.mp3" preload="auto"></audio>
    <audio id="audio-fail" src="~/Content/Content/Audio/fail.mp3" preload="auto"></audio>

    <!-- SES ÖN YÜKLEMELERİ BİTİR -->
    <!-- SCRIPTS -->
    <!-- PLUGINS -->

    <script src="~/Content/Content/Script/js/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/Content/Script/js/plugins/jquery/jquery-ui.min.js"></script>
    <script src="~/Content/Content/Script/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- PLUGINS -->
    <!-- BU SAYFA EKLENTİLERİNİ BAŞLAT-->
    <script type='text/javascript' src='~/Content/Content/Script/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="~/Content/Content/Script/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="~/Content/Content/Script/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

    <script type="text/javascript" src="~/Content/Content/Script/js/plugins/morris/raphael-min.js"></script>
    <script type="text/javascript" src="~/Content/Content/Script/js/plugins/morris/morris.min.js"></script>
    <script type="text/javascript" src="~/Content/Content/Script/js/plugins/rickshaw/d3.v3.js"></script>
    <script type="text/javascript" src="~/Content/Content/Script/js/plugins/rickshaw/rickshaw.min.js"></script>
    <script type='text/javascript' src='~/Content/Content/Script/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
    <script type='text/javascript' src='~/Content/Content/Script/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
    <script type='text/javascript' src='~/Content/Content/Script/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script type="text/javascript" src="~/Content/Content/Script/js/plugins/owl/owl.carousel.min.js"></script>

    <script type="text/javascript" src="~/Content/Content/Script/js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/Content/Script/js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- BU SAYFA EKLENTİLERİNİ BİTİR-->
    <!-- ŞABLONU BAŞLAT -->
    <script type="text/javascript" src="~/Content/Content/Script/js/settings.js"></script>

    <script type="text/javascript" src="~/Content/Content/Script/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/Content/Script/js/actions.js"></script>

    <script type="text/javascript" src="~/Content/Content/Script/js/demo_dashboard.js"></script>
    <!-- ŞABLONU BİTİR -->
    <!-- SCRIPTS -->


</body>
</html>