
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Erzurum Teknik Üniversitesi Hakkında</h2>
    <p>
        Erzurum Teknik Üniversitesi, Türkiye'nin Doğu Anadolu Bölgesi'nde yer alan köklü bir eğitim kurumudur.
        2010 yılında kurulan üniversite, mühendislik, doğa bilimleri, sosyal bilimler, sağlık bilimleri ve daha birçok alanda
        çeşitli lisans, yüksek lisans ve doktora programları sunmaktadır.
    </p>
    <p>
        Üniversitenin bulunduğu Erzurum şehri, tarih boyunca pek çok medeniyete ev sahipliği yapmış ve zengin bir kültürel
        mirasa sahiptir. Bu zenginlik, öğrencilere hem eğitim hem de sosyal yaşam açısından benzersiz bir deneyim sunar.
    </p>
    <p>
        Erzurum Teknik Üniversitesi, öğrencilere nitelikli eğitim vermenin yanı sıra araştırma ve geliştirme faaliyetlerine de
        önem verir. Bilimsel araştırmaları teşvik eden ve yenilikçi projelere destek sağlayan üniversite, öğrencilerin
        bilgi ve becerilerini geliştirmelerine yardımcı olur.
    </p>
    <p>
        Öğrenci odaklı bir yaklaşıma sahip olan Erzurum Teknik Üniversitesi, çağdaş eğitim olanakları sunar ve öğrencilerin
        kişisel ve profesyonel potansiyellerini en üst düzeye çıkarmak için çaba gösterir. Üniversitenin dinamik ve
        deneyimli akademik kadrosu, öğrencilerin başarılı bir kariyer yolculuğuna hazırlanmalarına yardımcı olur.
    </p>
    <p>
        Erzurum Teknik Üniversitesi, geleceğin liderlerini yetiştirmek ve bilgiye dayalı bir toplumun oluşturulmasına
        katkıda bulunmak için kararlı bir şekilde çalışmaya devam eder. Üniversite, öğrencilere sadece eğitim değil,
        aynı zamanda değerlerle dolu bir yaşamın kapılarını da aralar.
    </p>
</div>


